@{
    ViewData["Title"] = "Home";
}

<h1>Select an Order Type</h1>

    <a class="btn btn-info" asp-controller="Home" asp-action="CheckoutWalkup">Walkup Order</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="CheckoutWholesale">Wholesale Order</a>

</div>
